
<div class="sub-section"></div>
<div class="sub-section"></div>
<div class="sub-section"></div>

<div class="user">

<%= form_for(:location, url: locate_path) do |f| %>
<div class="new-place">
  <div class="field">
    <%= f.label :day %>
    &emsp;
<%= f.select(:day, ["Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],{} ,{}) %>
  </div>

  <div class="field">
    <%= f.label :fromAddress %>
    <%= f.text_field :fromAddress %>
  </div>
  
  <div class="field">
    <%= f.label :toAddress %>
    &emsp;
    <%= f.text_field :toAddress %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Add Location" %>
  </div>
  </div>
  </div>
<% end %>
