
<div class="sub-section"></div>
<div class="sub-section"></div>

<div class = "map-page">
  <div class="map-spec">
<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @location.day %>
</p>

<p>
  <strong>From:</strong>
  <%= @location.fromAddress %>
</p>


<p>
  <strong>To:</strong>
  <%= @location.toAddress %>
</p>


<p>
  <strong>Time:</strong>
  <%= @location.time %>
</p>


</div>
<div class = "container">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.from_lat}%2C#{@location.from_long}" %>
</div>
<div class = "container">
<h1>another location</h1>
<ul>
<% for location in @location.nearbys(1) %>
      <li> <%= link_to location.fromAddress, location%>(<%= location.distance.round(2)%> miles)</li>
<%end%>
</ul>
</div>

<div class ="edit-back">

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %> 
</div>
</div>